{% extends 'structure.html' %}

  {% block content %}

    <!-- Begin page content -->
    <main role="main" class="container">
    <h5>Pending applications:</h5>
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">First name</th>
            <th scope="col">Last name</th>
            <th scope="col">View</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          {% for data in pending %}
            <tr>
              <th scope="row">{{ forloop.counter }}</th>
              <td>{{ data.user.first_name }}</td>
              <td>{{ data.user.last_name }}</td>
              <td><a class="btn btn-link" href="{% url 'student_profile' data.user.id %}">View profile</a></td>
              <td><a class="btn btn-warning" href="{% url 'approve' data.user.id %}">Approve</a></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      
    </main>

  {% endblock %}
   
