{% extends 'base.html' %}

{% block content %}
	       
<br>
<section class="col-sm-12 home-pull container user_profile  global-contain header-space-fix-sm" >  
    <div>
        <div>
			
			<div>
				<div>
				<br>
					<div class="home-signin">
		
						<form action="{% url 'account:email_password_reset' mail code %}" method="POST">
							{% csrf_token %}
							<h3 class="text-left" style="color:darkred">Reset password</h3>
						
							<div class="input-field col s6">
								<input id="password1" type="password" name="password1" class="validate" required>
								<label for="password1">New password</label>
							</div>

							<div class="input-field col s6">
								<input id="password2" type="password" name="password2" class="validate" required>
								<label for="password2">Repeat Password</label>
							</div>
						
							<button class="waves-effect waves-red x-profile-btn-new" type="submit">Reset</button>
						</form>
					</div>
					<br>
				</div>
			</div>
    	</div>
    </div>
</section>    	
<div class="home-footer-push"></div>
{% endblock %}
