{% extends 'base.html' %}

{% block content %}
	       
<br>
<section class="col-sm-12 home-pull container user_profile global-contain header-space-fix-sm" >  
    <div>
        <div>
			
			<div>
				<div>
				<br>
					<div class="home-signin">
	
						<form action="{% url 'account:email_reset_password' %}" method="POST">
							{% csrf_token %}
							<h3 class="text-left" style="color:darkred">Reset password</h3>
							<small class="text-">*Please enter a valid email you used while registering...</small>
							<input class="form-control" type="text" name="email" placeholder="Email">
							<p></p>
							<p><a href="{% url 'account:contact_support' %}">Trouble resetting? Contact support</a></p>
							<br>
							<button class="waves-effect waves-red x-profile-btn-new" type="submit">Reset</button>
						</form>
					</div>
					<br>
				</div>
			</div>
    	</div>
    </div>
</section>    	
<br>
<br>
<div class="home-footer-push"></div>
{% endblock %}
